<% content_for :title do %>Raphael Reiter - Webshop<% end %>
			<ul class="lvl1">
				<a href="/" data-turbolinks="false" class="close skip top">Back</a>
				<div class="dropdown ">
					<li class="dropbtn lvl1 contact"></li>
						<div class="dropdown-content show"><h4></h4><p>To purchase CDs and sheet music, and for every other inquiries, please send us a message</p>
	    					<div class="form">
	                            <%= simple_form_for @contact do |form| %>
	                            <%= form.error_notification %>
	                            <%= form.input :name, label: false, :placeholder => 'Your name...', autofocus: true %>
	                            <%= form.input :email, label: false, :placeholder => 'Your email address...' %>
	                            <%= form.input :content, label: false, :placeholder => 'Your message...', as: :text %>
	                            <%= form.button :submit, 'Submit', class: 'submit' %>
	                          <% end %></div></div>
				</div>
			</ul>