<% content_for :title do %>Raphael Reiter - Music<% end %>
<h3>Contact</h3>
<div class="form">
  <%= simple_form_for @contact do |form| %>
    <%= form.error_notification %>
    <%= form.input :name, label: false, :placeholder => 'Your name...', autofocus: true %>
    <%= form.input :email, label: false, :placeholder => 'Your email address...' %>
    <%= form.input :content, label: false, :placeholder => 'Your message...', as: :text %>
    <%= form.button :submit, 'Submit', class: 'submit' %>
  <% end %>
</div>