<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Raphael Reiter - Music" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Raphael Reiters Music Webpage" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" >
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header id="left">
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" id="main_menu">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <footer class="">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
